<% content_for :head do %>
  <title>Had items top 10 - monolist</title>
  <meta name="description" content="持っている人が多い商品TOP10">
<% end %>
<h1>Had items top 10</h1>
<% @items.each do |item| %>
  <div class="container">
    <div class="container-inner inner-sm clearfix">
      <h3>No,<%= @items.index(item)+1 %></h3>
      <%= render "list", item: item %>
    </div>
  </div>
<% end %>