<% content_for :head do %>
  <title>Had items top 10 - monolist</title>
  <meta name="description" content="持っている人が多い商品TOP10">
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <h1><%= @title %> items top 10</h1>
       <% @ranking.each do |item, rank| %>
          </br>
          <h2>No,<%= rank %></h2>
          <%= render 'list', item: Item.find(item), rank: rank %>
  </div>
</div>
<% end %>